@media screen and (max-width:1300px) {
    header,
    article {
        padding-right: 20px;
        padding-left: 20px;
    }

    .main-banner__header {
        height: auto;
    }

    .main-logo, .column__title .main-logo {
        width: 130px;
        min-width: 110px;
    }

    .main-menu__list-items {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .main-menu__list-items *{
        font-size: 16px;
    }

    .content h1 {
        font-size: 50px;
    }

   .content p, .content div {
        font-size: 20px;
   }

   .contact-form {
        padding: 24px;
   }

   .main-banner__wrapper {
        background-size: 70%;
   }

   .hiring-banner::before,
   .hiring-banner::after {
        background-size: 24%;
   }

   .hiring-banner::before {
        top: -20%;
   }

   .hiring-banner::after{
        top: 22%;
   }

   .about__picture {
        width: 48px;
   }

   .main-menu__list-items button{
    border: none;
    padding: 0;
    height: auto;
   }

   .content {
    width: 100%;
   }

   .main-banner__wrapper, .about, .about__values {
        height: auto;
        min-height: 50vh;
        padding: 16px;
        align-items: center;
        display: flex;
    }

    .small-banner {
        height: 200px;
    }

    .about__header {
        margin-bottom: 20px;
    }

}

@media screen and (max-width:1024px) {

    .list-item__image {
        width: 62%;
    }

    .our-works__list-items {
        flex-direction: column;
    }

    .our-works__list-item {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 16px;
    }

    .our-works__bottom-section {
        margin: 100px 16px 50px;
    }
}


@media screen and (max-width:980px) {
    header,
    article,
    .footer {
        padding-right: 16px;
        padding-left: 16px;
    }

    .content h1 {
        font-size: 28px;
    }

    .about__lists-items,
    .our-works__list-items {
        flex-direction: column;
    }

    .about__lists-item,
    .our-works__list-item,
    .about__values .about__lists-item:last-child,
    .about__values .about__lists-item:first-child {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 16px;
    }

   .content p, .content div {
        font-size: 18px;
   }

   .our-works .about__title {
        margin-top: 50px;
   }

    .contact-form {
        padding: 24px;
   }

   .contact-form__body {
    width: 100%;
   }

   .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px;
   }

   .footer__column:first-child{
    flex-direction: column;
    order: 5;
    width: 50%;
    margin-top: 20px;
   }

   .footer__column {
    width: 50%;
   }

   .footer__column:last-child {
    margin-top: 20px;
   }

   .social-list li {
    flex-direction: row;
    margin-bottom: 0;
    margin-right: 15px;
   }

   .chat-bot {
    bottom: 2%;
    right: 2%;
    width: 75px;
    height: 75px;
   }

   .tooltip {
    right: 51px;
   }

}

@media screen and (max-width:600px) { 

    .modal-body {
        width: calc(100% - 34px);
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (max-width:550px) { 
    .main-menu__list-item:last-child {
        width: 100%;
        margin-top: 10px;
        justify-content: flex-end;
    }
}

@media screen and (max-width:450px) { 
    .header__tumb {
        padding: 0;
    }

    .header__tumb::before, 
    .header__tumb::after {
        display: none;
    }

    .hiring-banner {
        height: 450px;
    }
}